---
import ContactLinks from "./ContactLinks.astro";
import Icon from "./Icon.astro";
---

<dialog id="appointment-dialog" class="appointment-dialog" aria-labelledby="appointment-title" closedby="any">
    <button type="button" class="close-button" aria-label="Закрыть">
        <Icon name="close" size={44} />
    </button>
    <h2 id="appointment-title" class="title">Запись на консультацию</h2>
    <ContactLinks />
</dialog>

<style>
    .appointment-dialog {
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        max-width: 404px;
        height: 404px;
        padding: 24px;
        border: none;
        border-radius: 4px;
        background-color: #ddc0e3;

        @media (prefers-reduced-motion: no-preference) {
            transition:
                opacity 0.3s ease,
                transform 0.3s ease,
                display 0.3s ease allow-discrete,
                overlay 0.3s ease allow-discrete;

            @starting-style {
                opacity: 0;
                transform: scale(0.95);
            }
        }

        &:not([open]) {
            opacity: 0;
            transform: scale(0.95);
        }

        &::backdrop {
            background-color: rgb(0 0 0 / 50%);

            @media (prefers-reduced-motion: no-preference) {
                transition:
                    opacity 0.3s ease,
                    display 0.3s ease allow-discrete,
                    overlay 0.3s ease allow-discrete;

                @starting-style {
                    opacity: 0;
                }
            }
        }

        &:not([open])::backdrop {
            opacity: 0;
        }

        .contact-links {
            flex-direction: column;
            gap: 16px;

            svg {
                width: 36px;
                height: 36px;
            }
        }
    }

    .close-button {
        display: flex;
        padding: 0;
        border: none;
        margin-block-end: 4px;
        margin-inline-start: auto;
        background-color: transparent;
        color: inherit;
        cursor: pointer;
    }

    .title {
        margin-block-start: 0;
        margin-block-end: 24px;
        font-size: 40px;
        line-height: 100%;
        font-weight: 400;
    }
</style>

<script>
    const appointmentDialog = document.querySelector<HTMLDialogElement>('#appointment-dialog');
    const closeButton = appointmentDialog?.querySelector('.close-button');

    appointmentDialog?.addEventListener('close', () => {
        document.body.style.overflow = 'auto';
    })

    closeButton?.addEventListener('click', () => {
        appointmentDialog?.close();
    })
</script>
