---
import ContactLinks from "./ContactLinks.astro";
---

<dialog id="appointment-dialog" class="appointment-dialog" aria-labelledby="appointment-title" closedby="any">
    <button type="button" class="close-button" aria-label="Закрыть">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44" height="44" fill="currentColor"><path d="M22 25.407 10.076 37.33c-.446.446-1.014.669-1.703.669-.69 0-1.258-.223-1.704-.67C6.223 36.886 6 36.318 6 35.628c0-.69.223-1.257.67-1.703L18.592 22 6.67 10.076C6.223 9.63 6 9.062 6 8.373c0-.69.223-1.258.67-1.704C7.114 6.223 7.682 6 8.372 6c.69 0 1.257.223 1.703.67L22 18.592 33.924 6.67C34.37 6.223 34.938 6 35.627 6c.69 0 1.258.223 1.704.67.446.445.669 1.013.669 1.703 0 .69-.223 1.257-.67 1.703L25.408 22 37.33 33.924c.446.446.669 1.014.669 1.703 0 .69-.223 1.258-.67 1.704-.445.446-1.013.669-1.703.669-.69 0-1.257-.223-1.703-.67L22 25.408Z"/></svg>
    </button>
    <h2 id="appointment-title" class="title">Запись на консультацию</h2>
    <ContactLinks />
</dialog>

<style>
    .appointment-dialog {
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        max-width: 404px;
        height: 404px;
        padding: 24px;
        border: none;
        border-radius: 4px;
        background-color: #ddc0e3;

        &::backdrop {
            background-color: rgb(0 0 0 / 50%);
        }

        .contact-links {
            flex-direction: column;
            gap: 16px;

            svg {
                width: 36px;
                height: 36px;
            }
        }
    }

    .close-button {
        display: flex;
        padding: 0;
        border: none;
        margin-block-end: 4px;
        margin-inline-start: auto;
        background-color: transparent;
        cursor: pointer;
    }

    .title {
        margin-block-start: 0;
        margin-block-end: 24px;
        font-size: 40px;
        line-height: 100%;
        font-weight: 400;
    }
</style>

<script>
    const appointmentDialog = document.querySelector<HTMLDialogElement>('#appointment-dialog');
    const closeButton = appointmentDialog?.querySelector('.close-button');

    appointmentDialog?.addEventListener('close', () => {
        document.body.style.overflow = 'auto';
    })

    closeButton?.addEventListener('click', () => {
        appointmentDialog?.close();
    })
</script>
