---
import Icon from "./Icon.astro";
---

<button class="appointment-button">
    <span>Записаться</span>
    <Icon name="calendar" />
</button>

<style>
    .appointment-button {
        display: inline-flex;
        align-items: center;
        gap: 12px;
        padding: 12px 32px;
        border: none;
        border-radius: 50px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        cursor: pointer;

        @media (prefers-reduced-motion: no-preference) {
            transition: background-color 0.2s ease;
        }

        @media (hover: hover) {
            &:hover {
                background-color: var(--hover-color);
            }
        }

        &:active {
            background-color: var(--hover-color);
        }
    }
</style>

<script>
    const appointmentDialog = document.querySelector<HTMLDialogElement>('#appointment-dialog');

    window.addEventListener('click', (event) => {
        if (appointmentDialog && event.target instanceof Element && event.target.closest('.appointment-button')) {
            appointmentDialog.showModal();
            document.body.style.overflow = 'hidden';
        }
    })
</script>
