---
import Icon from "./Icon.astro";
---

<ul class="contact-links">
    <li>
        <a class="contact-link" href="https://t.me/ilonakhomenko_psy" target="_blank" rel="noopener noreferrer">
            <Icon name="telegram" />
            <span>telegram</span>
        </a>
    </li>
    <li>
        <a class="contact-link" href="https://wa.me/message/SIEVDKC4PL6QE1" target="_blank" rel="noopener noreferrer">
            <Icon name="whatsapp" />
            <span>whatsapp</span>
        </a>
    </li>
    <li>
        <a class="contact-link" href="mailto:ilonakhomenkopsy@gmail.com" target="_blank" rel="noopener noreferrer">
            <Icon name="email" />
            <span>ilonakhomenkopsy@gmail.com</span>
        </a>
    </li>
</ul>

<style>
    .contact-links {
        display: flex;
        gap: 28px;
        padding: 0;
        margin: 0;
        list-style: none;

        @media screen and (width < 768px) {
            flex-direction: column;
            gap: 24px;
        }
    }

    .contact-link {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 18px;
        line-height: 24px;
        color: inherit;
    }
</style>
