---
import { Image } from "astro:assets";
import myPhoto from "../../assets/images/my-photo.webp";
import AppointmentButton from "../shared/AppointmentButton.astro";
---

<section class="about container">
    <h2 class="about__title page-title">Бережный онлайн подход в удобном для вас темпе</h2>
    <p class="about__text">
        Меня зовут Илона и я практикующий нейроотличный психолог-консультант с
        высшим психологическим образованием. Живу в Нидерландах и работаю онлайн
        по всему миру, оплату принимаю в долларах и евро. Работаю с широким
        спектром тем. Помогаю людям справляться с тревогой, выгоранием, сложными
        эмоциями и кризисами идентичности — мягко, с опорой на доказательные
        методы, без шаблонов и давления. У меня есть
        <a href="https://t.me/not_judging_you" target="_blank" rel="noopener noreferrer">телеграм канал "Безоценочно с
            поддержкой"</a>. С уважением отношусь к людям любой сексуальной ориентации и гендерной идентичности.
    </p>
    <p class="about__text">
        Консультации проходят онлайн — в комфортной для вас обстановке, в
        удобное время.
    </p>
    <div class="about__photo">
        <Image src={myPhoto} alt="Илона Хоменко — психолог" width={552} height={552} />
    </div>
    <div class="about__buttons">
        <AppointmentButton />
        <a href="/about" class="about__link">Подробнее обо мне</a>
    </div>
</section>

<style>
    .about {
        display: grid;
        grid-template-columns: 1fr 35%;
        column-gap: 158px;
        background-color: var(--border-color);

        &.container {
            --container-width: 1592px;
        }

        @media screen and (width < 1440px) {
            display: flex;
            flex-direction: column;

            &.container {
                --container-width: 882px;
            }
        }
    }

    .about__title {
        grid-column: 1 / 2;

        @media screen and (width >= 1440px) {
            text-align: left;
        }
    }

    .about__text {
        grid-column: 1 / 2;
        margin-block-start: 0;
        font-size: 20px;
        line-height: 30px;

        @media screen and (width >= 1440px) {
            margin-block-end: 40px;
        }
    }

    .about__photo {
        grid-column: 2 / 2;
        grid-row: 1 / 5;
        align-self: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        img {
            width: 100%;
            max-width: 552px;
            aspect-ratio: 1 / 1;
            object-fit: contain;
        }

        @media screen and (width < 1440px) {
            width: 362px;
            height: 362px;
            margin-block: 60px;
        }

        @media screen and (width < 768px) {
            width: 200px;
            height: 200px;
            margin-block: 40px;
        }
    }

    .about__buttons {
        grid-column: 1 / 2;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;

        @media screen and (width < 1440px) {
            align-self: center;
            justify-content: center;
        }
    }

    .about__link {
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        color: var(--primary-color);
    }
</style>
