---
import AppointmentButton from "../shared/AppointmentButton.astro";
---

<section class="about container">
    <h2 class="about__title">Бережный онлайн подход в удобном для вас темпе</h2>
    <p class="about__text">
        Меня зовут Илона и я практикующий нейроотличный психолог-консультант с
        высшим психологическим образованием. Живу в Нидерландах и работаю онлайн
        по всему миру, оплату принимаю в долларах и евро. Работаю с широким
        спектром тем. Помогаю людям справляться с тревогой, выгоранием, сложными
        эмоциями и кризисами идентичности — мягко, с опорой на доказательные
        методы, без шаблонов и давления. У меня есть телеграм канал "Безоценочно
        с поддержкой". С уважением отношусь к людям любой сексуальной ориентации
        и гендерной идентичности.
    </p>
    <p class="about__text">
        Консультации проходят онлайн — в комфортной для вас обстановке, в
        удобное время.
    </p>
    <div class="about__buttons">
        <AppointmentButton />
        <a href="/about" class="about__link">Подробнее обо мне</a>
    </div>
</section>
