---

---

<section id="articles" class="articles container">
    <h2 class="articles__title">Статьи</h2>
    <ul class="articles__list">
        <li class="articles__item">
            <a href="/articles" class="articles__link">
                <h3 class="articles__title">Статья</h3>
            </a>
        </li>
    </ul>
    <a href="/articles" class="articles__link">Показать все</a>
</section>
