---

---

<section id="faq" class="faq container">
    <h2 class="faq__title">Популярные вопросы (FAQ)</h2>
    <details>
        <summary>Могу ли я получить помощь онлайн?</summary>
        <p>
            Это возможно во многих случаях, но есть нюансы. Например, при
            расстройствах личности в основном рекомендована очная психотерапия,
            но онлайн формат тоже возможен, просто он удлиняет продолжительность
            психотерапии в силу его особенностей. Если вас волнует этот вопрос
            (или какой-то еще) и вы хотите уточнить поконкретнее, напишите мне в <a
                href="https://t.me/ilonakhomenko"
                target="_blank"
                rel="noopener noreferrer">telegram</a
            >,
            <a
                href="https://wa.me/79252122525"
                target="_blank"
                rel="noopener noreferrer"
            >
                whatsapp
            </a> или на
            <a href="mailto:ilonakhomenko@gmail.com">почту</a>.
        </p>
    </details>
    <details>
        <summary
            >Сколько длится первая встреча и как мне к ней подготовиться?</summary
        >
        <p>
            Первая встреча со мной длится 60 минут. У других специалистов она
            может длится меньше или больше. Как-то особенно подготавливаться не
            нужно, это не собеседование и не экзамен. Я здесь, чтобы вас
            поддержать. Можно подготовить лист бумаги и ручку, если захочется
            что-то зафиксировать, но как правило это ознакомительная встреча, на
            которой я рассказываю, как может выглядеть наша дальнейшая работа и
            мы принимаем решение о сотрудничестве. Стоимость первой встречи -
            donation, последующие по фиксированному прайсу 40 евро/4000 р.
        </p>
    </details>
    <details>
        <summary>Что будет на первой встрече? Не знаю, с чего начать</summary>
        <p>
            Первая встреча - это зачастую довольно волнительное мероприятие, как
            для клиента, так и для психолога. Так что тревога и волнение в такой
            ситуации абсолютно нормальны. Можно начать с актуального, что больше
            всего не устраивает. Психолог не тот человек, который будет
            оценивать или критиковать вас (и если вдруг он это делает, тогда
            стоит задуматься, хотите ли вы продолжать с ним работу).
        </p>
    </details>
    <details>
        <summary
            >Сколько сессий потребуется, чтобы разобраться с проблемой?</summary
        >
        <p>
            Зависит от проблемы. Очень легко попасть впросак с ответом, когда
            ещё не знаешь, в чём она заключается. Также это очень индивидуально.
            Краткосрочная терапия в среднем длится от 10 до 12 сессий, но может
            занять еще меньше. Долгосрочная занимает от 40 и более, а
            среднесрочная - это промежуток после 12 сессий и до 40. При легких
            ситуационных трудностях иногда бывает достаточно до 10 сессий. По
            ходу уточнения запроса в течение последующих сессий план терапии
            может корректироваться, это нормально.
        </p>
    </details>
    <details>
        <summary
            >Слышал, что действительно профессиональные психологи не дают
            советов и ничего не обещают и не решают. Что тогда происходит на
            сессиях?</summary
        >
        <p>
            Только вам решать, необходимы ли изменения в вашей жизни и какие
            именно. Действительно, по этическим соображениям психолог не должен
            ничего вам навязывать и тем более обещать что-то в терапии. Прямые
            рекомендации даются только в крайнем случае - в момент острого
            кризиса или горевания, например, когда человек потерял кого-то.
        </p>
    </details>
</section>
