<section class="help container">
    <h2 class="page-subtitle">С чем помогаю</h2>
    <ol class="help__list">
        <li class="help__item">
            <h3 class="help__item-title">
                Нейроотличия (РАС, СДВГ, высокая чувствительность)
            </h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Есть ли у вас диагноз или вы самодиагностированы, вы всегда
                    можете обратиться за помощью.
                </li>
                <li class="item-list__item">
                    Валидация вашего опыта, сопровождение.
                </li>
                <li class="item-list__item">Обучение навыкам саморегуляции.</li>
                <li class="item-list__item">
                    Подстройка среды под свои особенности.
                </li>
                <li class="item-list__item">
                    Самоисследование и поиск тех помогающих практик, которые
                    подходят именно вам как нейроотличному человеку.
                </li>
                <li class="item-list__item">
                    Профилактика и предотвращение выгорания.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">Эмиграция</h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Снижение самооценки в связи с потерей статуса.
                </li>
                <li class="item-list__item">
                    Потеря социальных связей, непонимание, дискомфорт.
                </li>
                <li class="item-list__item">
                    Возвращение обратно и попытки перестроиться заново.
                </li>
                <li class="item-list__item">Тоска по дому.</li>
                <li class="item-list__item">
                    Попытки выстроить жизнь на новом месте, переживание
                    сложностей. Как поддержать себя и помочь себе справиться в
                    эмиграции.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">Неуверенность и самокритика</h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Неуверенность в себе и своих действиях.
                </li>
                <li class="item-list__item">
                    Самокопание и бесконечные сомнения.
                </li>
                <li class="item-list__item">
                    Отсутствие ощущения "опоры", когда непонятно на что
                    опереться внутри себя и что стоит за этим. Поиск внутренних
                    опор.
                </li>
                <li class="item-list__item">
                    Трудности в принятии решений, так называемая прокрастинация.
                </li>
                <li class="item-list__item">
                    Самокритика или радио в голове "Закритикуй себя полностью" -
                    когда демонтировать, а когда просто убавить звук?
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">
                Тревога, депрессивные состояния, страхи
            </h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Работаю с тревогой в широком смысле, страхом не справиться.
                </li>
                <li class="item-list__item">Социальная тревожность.</li>
                <li class="item-list__item">
                    Тревожность как часть других состояний и как личностная
                    особенность.
                </li>
                <li class="item-list__item">
                    Состояния, когда ничего не хочется делать и нет сил.
                </li>
                <li class="item-list__item">
                    На моем сайте вы можете найти тесты на тревожность и
                    депрессию, в качестве предварительной диагностики. Иногда я
                    их предлагаю использовать для отслеживания динамики вашего
                    состояния на протяжении наших встреч.
                </li>
                <li class="item-list__item">
                    Информирована касательно возможных побочек от фармы.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">
                Экзистенциальные вопросы, поиск смыслов
            </h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Если вам хочется разобраться с тем, в каком направлении
                    двигаться, беспокоят мысли "не понимаю, чем хочу
                    заниматься", "чего-то хочется, а чего, непонятно", мы можем
                    вместе с вами это поисследовать.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">Трудности в отношениях</h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Личные отношения - меня не понимают или я не понимаю.
                </li>
                <li class="item-list__item">Сексуальные проблемы и вопросы.</li>
                <li class="item-list__item">Не могу донести, что я хочу.</li>
                <li class="item-list__item">
                    Меня не слышат или не во что не ставят.
                </li>
                <li class="item-list__item">
                    Не получаются отношения, я ухожу или от меня уходят.
                </li>
                <li class="item-list__item">
                    Сложно общаться в принципе и заводить новые знакомства.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">Горевание и утрата</h3>
            <ul class="item-list">
                <li class="item-list__item">Потеря близкого.</li>
                <li class="item-list__item">Расставание или развод.</li>
                <li class="item-list__item">Потеря значимых отношений.</li>
                <li class="item-list__item">
                    Сопровождение и психологическая поддержка в этот непростой
                    период.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">Другая тема</h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Если у вас есть сомнения, работаю ли я с тем или иным
                    вопросом, вы можете спросить меня в личке в телеграм,
                    написать мне на почту или уточнить непосредственно на
                    консультации.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">
                Пока не работаю с запросами, которые включают
            </h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Острые кризисные, суицидоопасные состояния.
                </li>
                <li class="item-list__item">
                    Пограничное или биполярное расстройство.
                </li>
                <li class="item-list__item">К/ПТСР.</li>
                <li class="item-list__item">ОКР.</li>
                <li class="item-list__item">РПП.</li>
                <li class="item-list__item">
                    А также с детьми и подростками до 18 лет и семьями.
                </li>
            </ul>
        </li>
        <li class="help__item">
            <h3 class="help__item-title">Что еще важно</h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Я не ставлю диагнозов и не назначаю препаратов, так как это
                    не входит в зону компетенций психолога.
                </li>
                <li class="item-list__item">
                    Не использую эзотерических практик.
                </li>
                <li class="item-list__item">
                    Если у вас есть какие-то серьезные телесные жалобы, то не
                    стоит их игнорировать, важно обратиться за медицинской
                    помощью, чтобы исключить возможные заболевания.
                </li>
                <li class="item-list__item">
                    Если вы понимаете, что с вами происходит, пробуете себе
                    помочь, но по прошествии времени лучше не становится или
                    становится хуже, этот момент стоит того, чтобы обратиться за
                    поддержкой к психологу.
                </li>
            </ul>
        </li>
    </ol>
</section>

<style>
    .help {
        &.container {
            --container-width: 1592px;

            @media screen and (width < 1240px) {
                --container-width: 704px;
            }
        }
    }

    .help__list {
        counter-reset: list;
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 196px;
        row-gap: 70px;
        padding-inline-start: 96px;
        margin-block: 0;

        @media screen and (width < 1240px) {
            grid-template-columns: 1fr;
            row-gap: 40px;
        }

        @media screen and (width < 600px) {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            display: flex;
            gap: 0;
            max-width: 100%;
            padding-inline: 24px;
            padding-block-start: 4px;
            margin-inline: -24px;
            margin-block-start: -4px;


            .help__item {
                min-width: 100%;
                scroll-snap-align: center;
                scroll-snap-stop: always;
            }
        }
    }

    .help__item-title {
        counter-increment: list;
        display: flex;
        align-items: center;
        gap: 24px;
        margin-block-start: 0;
        margin-block-end: 16px;
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        transform: translateX(-96px);

        &::before {
            content: counter(list);
            flex-shrink: 0;
            display: grid;
            place-items: center;
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background-color: var(--accent-color);
            font-size: 33px;
            line-height: 30px;
            font-weight: 400;
            color: var(--secondary-color);
        }

        @media screen and (width < 600px) {
            align-items: flex-start;
            gap: 16px;
            transform: translateX(0);

            &::before {
                width: 40px;
                height: 40px;
                margin-top: -4px;
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .item-list {
        list-style-type: disc;
    }

    .item-list__item {
        font-size: 20px;
        line-height: 30px;
    }
</style>
