---
import AppointmentButton from "../shared/AppointmentButton.astro";
import ContactLinks from "../shared/ContactLinks.astro";
---

<section id="price" class="price container">
    <h2 class="page-subtitle">Стоимость и формат работы</h2>
    <ul class="price__list">
        <li class="price__item">
            <h3 class="price__item-title">Онлайн консультация</h3>
            <ul class="item-list">
                <li class="item-list__item">
                    Первая встреча 90 минут, последующие - 60 минут
                </li>
                <li class="item-list__item">
                    Отвечу на интересующие вас вопросы
                </li>
                <li class="item-list__item">Соберу основную информацию</li>
                <li class="item-list__item">
                    Всё, что для этого нужно - стабильное интернет-соединение и
                    помещение, где вас не будут отвлекать
                </li>
            </ul>
            <p class="item-price">€50 / $55</p>
            <AppointmentButton />
        </li>
    </ul>
    <p class="price__text">
        Работаю только онлайн, по всему миру, по предоплате. Оплату принимаю в
        евро и долларах. Буду рада вам помочь!
    </p>
    <p class="price__contact-text">Для связи:</p>
    <ContactLinks />
</section>

<style>
    .price {
        display: flex;
        flex-direction: column;
        align-items: center;

        &.container {
            --container-width: 1592px;
        }

        .contact-links {
            color: var(--accent-color);

            @media screen and (width < 768px) {
                align-items: center;
            }
        }
    }

    .price__list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-inline: 0;
        margin-block-start: 0;
        margin-block-end: 108px;

        @media screen and (width < 1440px) {
            margin-block-end: 88px;
        }

        @media screen and (width < 768px) {
            margin-block-end: 48px;
        }
    }

    .price__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        max-width: 508px;
        padding: 32px 36px;
        border: 4px solid var(--border-color);
        border-radius: 16px;
        background-color: var(--secondary-color);
    }

    .price__item-title {
        margin-block-start: 0;
        margin-block-end: 60px;
        font-size: 40px;
        line-height: 50px;

        @media screen and (width < 1440px) {
            font-size: 30px;
            line-height: 40px;
        }

        @media screen and (width < 768px) {
            margin-block-end: 32px;
            font-size: 24px;
            line-height: 30px;
        }
    }

    .item-list {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-block-start: 0;
        margin-block-end: 40px;
    }

    .item-list__item {
        position: relative;
        font-size: 20px;
        line-height: 30px;
        list-style: none;

        &::before {
            content: "";
            position: absolute;
            inset-inline-start: -42px;
            inset-block-start: 0;
            display: block;
            width: 30px;
            height: 30px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' fill='none'%3E%3Cpath stroke='%230D0911' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M5 15.467 11.667 22 25 8'/%3E%3C/svg%3E");
        }
    }

    .item-price {
        margin-block-start: 0;
        margin-block-end: 32px;
        font-size: 50px;
        line-height: 60px;
        font-weight: 700;
    }

    .price__text {
        max-width: 720px;
        margin-block-start: 0;
        margin-block-end: 44px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .price__contact-text {
        margin-block-start: 0;
        margin-block-end: 20px;
        font-size: 20px;
        line-height: 30px;
    }
</style>
