---
import { getCollection } from "astro:content";

const tests = await getCollection("tests");
---

<section class="tests container">
    <h2 class="page-subtitle">Тесты</h2>
    <ul class="tests__list">
        {
            tests.map((test) => (
                <li class="tests__item">
                    <a href={`/tests/${test.id}`} class="test-link">
                        <h3 class="test-link__title">{test.data.title}</h3>
                    </a>
                </li>
            ))
        }
    </ul>
</section>

<style>
    .tests {
        overflow: hidden;
        position: relative;

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            inset-block-start: 290px;
            inset-inline-end: 0;
            width: 603px;
            height: 752px;
            background-image: url("/images/tests-section-cover.webp");
            background-repeat: no-repeat;
        }

        &.container {
            --container-width: 1592px;
        }

        @media screen and (width >= 1440px) {
            min-height: 1200px;

            &::before {
                inset-block-start: 290px;
                inset-inline-end: 0;
                width: 603px;
                height: 752px;
            }
        }

        @media screen and (width < 1440px) {
            padding-block-end: 200px;

            &::before {
                inset: 0;
                width: 100%;
                object-fit: fill;
                background-size: 100%;
                opacity: 0.1;
            }

            &.container {
                --container-width: 800px;
            }
        }

        @media screen and (width < 768px) {
            padding-block-end: 100px;
        }
    }

    .tests__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        margin: 0;
    }

    .test-link__title {
        margin: 0;
        font-size: 40px;
        line-height: 50px;
        font-weight: 500;

        @media screen and (width < 1440px) {
            font-size: 30px;
            line-height: 40px;
        }
    }
</style>
