---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Обо мне"
    description="Обо мне и моих принципах работы. Использую методы ACT, CFT и ОРКТ. Гуманистическая позиция, конфиденциальность, индивидуальный подход."
    bodyBgColor="#ddc0e3"
    class="container"
>
    <section class="page-section">
        <h2 class="page-title">Обо мне</h2>
        <p class="page-text">
            Люблю и использую в работе методы ACT (Терапия Принятия и
            Ответственности, контекстуально-поведенческий подход, который
            помогает жить с непростыми эмоциями), а также CFT (Терапия,
            Сфокусированная на Сострадании). Ещё я использую элементы
            решение-фокусированного подхода в качестве поиска выхода из
            проблемной истории, где человек как автор собственной жизни. При
            всём этом занимаю гуманистическую позицию - с вами всё в порядке
            изначально.
        </p>
        <p class="page-text">
            Почему я сочетаю несколько подходов? Потому что это даёт большую
            гибкость в работе и я искренне считаю, что комплексный подход
            позволяет шире взглянуть на проблему с разных сторон, а
            следовательно, и увидеть возможности решения. В центре терапии
            находитесь вы, и с какой бы
            проблемой/сложностью/трудностью/неразрешимой дилеммой вы не пришли,
            я буду сопровождать вас на этом пути. Вы - не проблема, и не
            существуете в вакууме. Я учитываю социальный контекст и условия, в
            которых вы проживаете и как они могут влиять на вас. Вместе мы
            попробуем распутать этот клубок противоречий. Если же моих
            компетенций окажется недостаточно для решения какого-то вопроса, я
            об этом скажу и предложу кого-то из моих знакомых коллег, кто
            наиболее осведомлен в этом.
        </p>
        <p class="page-text">
            Не использую устаревших терминов (например, “невроз”) и стараюсь
            постоянно обновлять базу знаний, чтобы быть в курсе последних
            исследований в области психологии, психотерапии и психиатрии. В
            данный момент прохожу переподготовку на клинического психолога.
            Информирована в теме нейроотличий, подбираю индивидуальный подход.
        </p>
    </section>
    <section class="page-section">
        <h3 class="page-subtitle">Принципы работы</h3>
        <ul class="principle-list">
            <li>
                <h4>Конфиденциальность.</h4>
                <p>
                    Например, на супервизию выношу случай без личной информации
                    о вас и только если я получила на это ваше согласие.
                </p>
            </li>
            <li>
                <h4>Последовательность и гибкость.</h4>
                <p>
                    В первые несколько встреч собираю вашу индивидуальную
                    историю жизни (анамнез), при этом я всегда наготове
                    пересмотреть структуру сессии в зависимости от вашего
                    состояния.
                </p>
            </li>
            <li>
                <h4>Индивидуальный подход и атмосфера принятия.</h4>
                <p>
                    Я побуждаю не стесняться говорить мне возникающие мысли по
                    типу “она меня осудит”, “какой позор”. У меня
                    гуманистическая позиция — я считаю, что с вами все в порядке
                    изначально, просто конкретно сейчас вам больно и трудно по
                    какой-то причине и я здесь, чтобы поддержать вас.
                </p>
            </li>
            <li>
                <h4>Объём встреч по совместной договоренности.</h4>
                <p>
                    Придерживаюсь такой позиции, что количество сессий должно
                    быть ровно столько, сколько нужно конкретно вам, ни больше,
                    ни меньше. У меня нет цели как удерживать вас в терапии, так
                    и побыстрее её закончить.
                </p>
            </li>
            <li>
                <h4>Бережность.</h4>
                <p>
                    Мы не будем сразу идти туда, где больно. Иными словами, в
                    бурелом без подготовки лезть не будем.
                </p>
            </li>
            <li>
                <h4>Не техниками и ДЗ едиными.</h4>
                <p>
                    Самое важное и первостепенное на сессиях — вы, чтобы вы были
                    услышаны. Только потом уже техники, если есть в них
                    потребность и ресурсы на их выполнение. Если у вас есть
                    острая потребность выговориться, я предоставляю для этого
                    возможность и безопасное пространство.
                </p>
            </li>
            <li>
                <h4>Я работала в IT сфере 5 лет.</h4>
                <p>
                    В связи с этим у вас отпадает надобность долго объяснять
                    специфику этой сферы, так как я прочувствовала многие ее
                    нюансы на себе, и могу говорить с вами на языке понятных
                    мемов и метафор.
                </p>
            </li>
            <li>
                <h4>Профилактика профвыгорания.</h4>
                <p>
                    Регулярно посещаю супервизии, интервизии и балинтовские
                    группы, что способствует повышению качества оказываемых мной
                    психологических услуг. И еще с удовольствием занимаюсь
                    любимым хобби.
                </p>
            </li>
            <li>
                <h4>Партнерская модель отношений.</h4>
                <p>
                    Я не занимаю экспертной и директивной позиции по отношению к
                    вам, моя позиция — быть соисследователем вашего внутреннего
                    мира, помогать разобраться в сложном хитросплетении мыслей и
                    чувств. Для меня важно сказать, чтобы вы не ждали от меня
                    прямых советов. В принципе, психологи не дают советов, это
                    допустимо только в каких-то супер отдельных случаях —
                    например, при остром кризисном состоянии. Мы вместе с вами
                    ищем, что лучше всего подойдёт вам в конкретной ситуации и
                    разделяем зону ответственности между друг другом.
                </p>
            </li>
            <li>
                <h4>
                    Люблю прибегать в своей работе к метафорам и образным
                    сравнениям.
                </h4>
                <p>
                    Мышление образами иногда способствует тому, чтобы о чём-то
                    было говорить проще, поэтому некоторым людям подходит
                    использование метафор в работе. Но опять, же, не каждому,
                    здесь всё очень индивидуально! Кому-то больше подойдут
                    схемки, кому-то таблички, а кому-то образы, истории,
                    рисунки.
                </p>
            </li>
            <li>
                <h4>На моих сессиях можно материться.</h4>
                <p>
                    Да, если ситуация вопиющая, я скорее это поощряю. После
                    такого эмоционального высказывания становится полегче.
                    Конечно же, если для вас мат ни в каком виде неприемлем, то
                    мы найдем другие способы выражения и отреагирования эмоций.
                </p>
            </li>
            <li>
                <h4>Приветствую обратную связь от вас.</h4>
                <p>
                    Терапия — совместный процесс, цели которого корректируются и
                    несмотря на то, что мы обмениваемся обратной связью в конце
                    сессии, я всегда открыта к вашим предложениям во время. Так
                    как психолог тоже живой человек, он может упустить какую-то
                    небольшую деталь, которая по-вашему мнению может быть
                    важной, и вы вправе мне об этом сказать. Если вы
                    почувствовали себя некомфортно во время разговора или при
                    выполнении какой-либо техники — вы также вправе сообщить мне
                    об этом. Это очень важно для нашего контакта.
                </p>
            </li>
            <li>
                <h4>
                    Я противник провокативной терапии, концепции вторичной
                    выгоды, “все болезни от нервов” и запротоколированности.
                </h4>
                <p>
                    Системность в работе важна, но она не должна нарушать
                    контакт — терапия для человека, а не человек для терапии.
                    Гибкость не противоречит системности.
                </p>
            </li>
            <li>
                <h4>Дестигматизация различных явлений.</h4>
                <p>
                    Если мы затрагиваем в обсуждении диагнозы, а также
                    какие-либо неуместные или неприятные для вас ярлыки для
                    обозначения каких-либо состояний, то мы разбираем и
                    обсуждаем вместе с вами, какие термины вам отзываются, чтобы
                    их было удобнее использовать в совместной работе и они не
                    вызывали у вас болезненных эмоций.
                </p>
            </li>
            <li>
                <h4>
                    Здоровое любопытство и уважение к внутреннему миру своему и
                    других людей.
                </h4>
                <p>
                    Бестактных вопросов не задаю. Мой интерес направлен на
                    устройство ваших внутренних процессов, который, как я
                    надеюсь, передастся и вам.
                </p>
            </li>
            <li>
                <h4>
                    Практика и применение навыков психологии в собственной
                    жизни.
                </h4>
                <p>
                    Регулярно сама внедряю некоторые практики АСТ, осознанности
                    в свою жизнь, а также посещаю психолога при необходимости.
                </p>
            </li>
        </ul>
    </section>
</BaseLayout>

<style>
    .principle-list {
        display: flex;
        flex-direction: column;
        gap: 32px;

        &, h4, p {
            margin: 0;
        }
    }
</style>
