---
import BaseLayout from "../layouts/BaseLayout.astro";
import CertificateCarousel from "../components/shared/CertificateCarousel.astro";

import diploma1 from "../assets/images/education/1-diploma-1.webp";
import diploma2 from "../assets/images/education/2-diploma-2.webp";
import diploma3 from "../assets/images/education/3-diploma-3.webp";
import certRhga from "../assets/images/education/4-certificate-rhga.webp";
import certAct from "../assets/images/education/5-certificate-act.webp";
import certManp1 from "../assets/images/education/6-certificate-manp.webp";
import certManp2 from "../assets/images/education/7-certificate-manp.webp";

const certificates = [
  { src: diploma1, alt: "Диплом психолога РХГА" },
  { src: diploma2, alt: "Диплом о высшем образовании" },
  { src: diploma3, alt: "Диплом о квалификации" },
  { src: certRhga, alt: "Сертификат РХГА" },
  { src: certAct, alt: "Сертификат ACT" },
  { src: certManp1, alt: "Сертификат МАНП" },
  { src: certManp2, alt: "Сертификат МАНП" },
];
---

<BaseLayout title="Образование" class="container">
    <section class="page-section">
        <h2 class="page-title">Образование</h2>
        <p class="page-text">
            В 2013 году получила квалификацию психолога в Русской Христианской
            Гуманитарной Академии. Сейчас я еще прохожу программу повышения
            квалификации в МАНП на клинического психолога, соответственно,
            диплом прикреплю по ее завершении.
        </p>
        <p class="page-text">
            <strong>Основной подход:</strong> Терапия принятия и ответственности (Acceptance and
            Commitment Therapy, ACT).
        </p>
        <p class="page-text">
            <strong>Дополнительные направления:</strong> ориентированная на решение краткосрочная
            терапия, ОРКТ (Solution Focused Brief Therapy, SFBT), терапия,
            сфокусированная на сострадании (Compassion-Focused Therapy, CFT),
            когнитивно-поведенческая терапия, клиент-центрированный подход.
        </p>
        <p class="page-text">
            Ниже вы можете найти все дипломы и сертификаты по обучениям, которые
            у меня завершены на данный момент.
        </p>
    </section>
    <section class="page-section">
        <h3 class="page-subtitle">Дипломы и сертификаты</h3>
        <CertificateCarousel images={certificates} />
    </section>
</BaseLayout>
