---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout class="tests-page container">
    <h2 class="page-title">Тесты</h2>
</BaseLayout>

<style is:global>
    .tests-page {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            display: block;
            background-image: url("/images/tests-cover.webp");
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: fill;
            opacity: 0.1;
        }
    }
</style>
