---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const tests = await getCollection("tests");
---

<BaseLayout
    title="Тесты"
    description="Психологические тесты онлайн: шкала депрессии Бэка, шкала социальной тревожности Либовица, опросник осознанности и другие."
    class="tests-page container"
>
    <h2 class="page-title">Тесты</h2>

    <ul class="tests-list">
        {
            tests.map((test) => (
                <li>
                    <a href={`/tests/${test.id}`}>{test.data.title}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>

<style is:global>
    .tests-page {
        position: relative;
        background-image:
                linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
                url("/images/tests-cover-768.webp");
        background-repeat: no-repeat;
        background-size: cover;

        @media screen and (width >= 768px) {
            background-image:
                    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
                    url("/images/tests-cover-1440.webp");
        }

        @media screen and (width >= 1440px) {
            background-image:
                    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
                    url("/images/tests-cover.webp");
        }
    }
</style>

<style>
    .tests-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li + li {
            margin-block-start: 24px;
        }

        a {
            font-size: 30px;
            line-height: 40px;

            @media screen and (width >= 1440px) {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
</style>
