---
import Header from "../components/shared/Header.astro";
import Footer from "../components/shared/Footer.astro";

import "../styles/global.css";
import AppointmentDialog from "../components/shared/AppointmentDialog.astro";

interface Props {
    title?: string;
    class?: string;
    bodyBgColor?: string;
}

const { title: subtitle, class: className, bodyBgColor } = Astro.props;
const title = `Психолог Илона Хоменко${subtitle ? ` - ${subtitle}` : ""}`
---

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-favicon.png">
        <meta name="viewport" content="width=device-width">
        <meta name="generator" content={Astro.generator}>
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <main class={className}>
            <slot />
        </main>
        <Footer />
        <AppointmentDialog />
    </body>
</html>

<style define:vars={{ bodyBgColor }}>
    body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        background-color: var(--bodyBgColor);
    }

    main {
        padding-block: 160px;

        @media screen and (width < 1440px) {
            padding-block: 100px;
        }

        @media screen and (width < 768px) {
            padding-block-start: 60px;
        }
    }
</style>
